<body>
  <app-navbar></app-navbar>
  <div class="main-container">
    <section class="profile-section">
      <div class="profile-header">
        <img src="/avatar.png" alt="Profile Picture" class="profile-pic" />
        <div class="user-info">
          <h1 class="username">{{userName}}</h1>
          <p class="bio">Aspiring writer | Lover of coffee, Technology, and good stories ✨</p>
          <button class="edit-btn">Edit Profile</button>
        </div>
      </div>

      <div class="user-posts">
        <h2>Your Posts</h2>
        <div class="post-list">
          <div class="user-post-card" *ngFor="let post of userPosts" (click)="goToPost(post.postId)">
            <h3>{{ post.title }}</h3>
            <p>{{ getTagline(post.content?.split('.')?.[0] || 'No description available.' ) }}</p>

            <div class="card-bottom-row" (click)="$event.stopPropagation()">
             <div class="meta-info">
              <span>👤 {{ post.username || 'Unknown'}}</span>
              <span>📅 {{ post.createdDate | date }}</span>
            </div>


            <div class="card-actions">
              <button class="icon-btn" title="Edit" (click)="editPost(post.postId)">
                <img src="/edit.png" alt="Edit" />
              </button>
              <button class="icon-btn" title="Delete" (click)="deletePost(post.postId)">
                <img src="/delete.png" alt="Delete" />
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
