
<header class="hero-section bg-landing">
  <div class="overlay">
    <app-navbar></app-navbar>
    <div class="hero-text">
      <h1>Discover New Perspectives</h1>
      <p>Explore insightful articles, share your thoughts, and connect with curious minds.</p>
    </div>
  </div>
</header>
<div class="scroll-down">↓</div>
   
<section class="featured-posts-section">
  <h2>Featured Posts</h2>
  <div class="featured-posts-container">
    <div class="featured-post" *ngFor="let post of featuredPosts">
      <a [routerLink]="['/post', post.postId]">
        <h3>{{ post.title }}</h3>
        <p class="category"><i class="fa-solid fa-heart"></i>Category: {{ post.category || 'Anonymous' }}</p>
      </a>
    </div>
  </div>
  <div class="view-all-container">
    <a routerLink="/all-post" class="view-all-btn">View All</a>
  </div>
</section>

<app-footer></app-footer>